#item-list{
    color: white;
    background-color: black;
}

.material-icons.nothing-rhymes-with-orange{
    position: relative;
    top: 6px;
}

.nothing-rhymes-with-orange { 
    color: orange;
}

.bluebullets{
    position: relative;
    top: 7px;
    color: blue; 
    font-size: 50px;
}

.bluebullets.visited{
    color: transparent; 
}

.bdr-btm{ border-bottom: 1px solid grey;}